<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASeZ0P5kK9zD0ZZBTZR06ey20uh0QErBs</string>
	<key>GCM_SENDER_ID</key>
	<string>55122891671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.colorcards.ColorCards</string>
	<key>PROJECT_ID</key>
	<string>colorcodes-c7d9b</string>
	<key>STORAGE_BUCKET</key>
	<string>colorcodes-c7d9b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55122891671:ios:225e9b34e1e3b21b5a6ad2</string>
</dict>
</plist>